<!-- gplus button -->
<!-- Place this tag where you want the +1 button to render -->
<g:plusone annotation="inline" width="300"></g:plusone>

<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- RSS-->
<script type="text/javascript"><!--
  // RSS Subscribe Feed URL.
  rssbm_subscribeFeed  = "http://epuka.herokuapp.com/diseases";
  // Button Image URL.
  rssbm_buttonImageUrl = "http://www.seocentro.com/bookmark-rss/images/rss_button01.gif";
  // Set this to yes if you put your image on the right side of
  // the page and the drop down menu goes outside the window.
  rssbm_imgRightSide   = "no";
//-->
</script>
<script type="text/javascript" src="http://www.seocentro.com/bookmark-rss/rss.js"></script>



<!-- facebook like -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="http://www.facebook.com/pages/Epuka/165504110244670?ref=notif&amp;notif_t=fbpage_admin" data-send="true" data-width="450" data-show-faces="true" data-font="lucida grande"></div>

<!-- twitter widget -->
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 2,
  interval: 30000,
  width: 300,
  height: 200,
  theme: {
    shell: {
      background: '#ccb7cc',
      color: '#005252'
    },
    tweets: {
      background: '#ffffff',
      color: '#000000',
      links: '#0961e6'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('epukadrs').start();
</script>
