<!-- sample modal content -->
<div id="myModal" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" >&times;</a>
  </div>

  <div id="myCarousel" class="modal-body carousel slide">
  	<div class="carousel-inner">
  	  <div class="item active">
				<img width="870" height="400" src="http://whatcausescervicalcancer.com/wp-content/uploads/2012/02/hpv-vaccine-tested-300x300.jpg">
        <div class="carousel-caption">
        </div>
			</div>
      <div class="item">
				<img width="870" height="400" src="http://www.cdc.gov/vaccinesafety/00_images/Boy%20getting%20vaccinated.jpg">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
      	<img width="870" height="400" src="http://www.scielosp.org/img/fbpe/bwho/v80n12/a20f01.gif">
        <div class="carousel-caption">
      	</div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  <div class="modal-footer">
  	<a href="" class="btn" data-dismiss="modal" >Close</a>
  </div>
</div>
