<div class="span3">
	<h2>About Epuka</h2>
  <p>The Epuka Disease Reporting System (EDRS) provides real-time secured
access for state and local public health practitioners to report infectious diseases.
EDRS allows local health departments with jurisdictional responsibility and relevant ODH
program staff to have immediate access to infectious disease reports on a 24/7/365
basis for disease control and disease surveillance purposes.
This assures cases of significant public health importance receive immediate attention
and public health response.</p>

		<h3>Our users?</h3>
		<p>Anyone can use this system. Infection control professionals, individual health care
		providers and laboratories can also become EDRS users
		for infectious disease reporting purposes.</p></br>
		<%= render 'layouts/other/g_search' %>
		<a href="#" id="livilyChatLink" class="livilyChatButton ClickdeskChatLink" onclick="return false;"></a>
</div>
