<footer class="footer" style="background-color:#222222;">
		<span class="f1"></span>
		  <span class="f2"></span>
		  <span class="f3"></span>
		  <span class="f4"></span>
		  <span class="f5"></span>
    <div class="container" style="margin:0 auto;">
        <div class="row">
            <div class="span2 offset2">
                <h4>Company</h4>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><%= link_to('Contact Us', new_contact_path)  %></li>
										<li><%= link_to('Registered Domains', domains_path)  %></li>
                </ul>
            </div>
            <div class="span2 offset1">
                <h4>Resource</h4>
                <ul>
                    <li>
											<a href="https://github.com/Banta/epuka/wiki"title="Documentation" target="_blank">Documentation</a>
										</li>
                    <li><a href="">FAQ</a></li>
                    <li>
											<a href="https://github.com/Banta/epuka/issues"title="Issues" target="_blank">Issues</a>
										</li>
                </ul>
            </div>
            <div class="span2 offset1">
                <h4>Connect</h4>
                <ul>
                    <li><a href="http://www.facebook.com/pages/Epuka/165504110244670" title="Facebook" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com/#!/EpukaDRS"title="Twitter" target="_blank">Twitter</a></li>
                    <li><a href="" title="LinkedIn" target="_blank">LinkedIn</a></li>
                    <li><a href="" title="Google+" target="_blank">Google+</a></li>
                    <li><a href="http://epuka.herokuapp.com/feed/rss" title="RSS" target="_blank">RSS</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
